Flask
gunicorn
pandas
numpy
matplotlib
seaborn
openpyxl
tabulate
python-dotenv
langchain
langchain-core
langchain-community
langchain-groq
langchain-experimental
scikit-learn==1.6.1
SQLAlchemy
psycopg2-binary
cryptography
flask-login
werkzeug
python-json-logger
reportlab==4.0.7
yt-dlp>=2024.1.0
razorpay
