Flask
gunicorn
pandas
numpy
langchain>=0.3.0
langchain-core>=0.3.0
langchain-community
langchain-groq
langchain-experimental
python-dotenv
matplotlib
seaborn
scikit-learn==1.6.1
openpyxl
tabulate
SQLAlchemy
psycopg2-binary
cryptography
python-json-logger
flask-login
werkzeug
